<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Konstantin Budnik<br />
    <br />
    <abbr title="Phone">P:</abbr>
    (096) 097-03-70
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">kotsyabudnik@gmail.com</a><br />
</address>