<div class="jumbotron">
    <h1>Какой-то классный лендос здесь</h1>
    <p class="lead">Нажимте эту большую синюю кнопку, чтобы найти просмотреть товары</p>
    <p>@Html.ActionLink("Поиск >", "Index", "Catalog", FormMethod.Post, new { @class = "btn btn-primary btn-lg" })</p>
</div>